# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/storybook-static
/.pnp
.pnp.js
dist/
# testing
/coverage
# production
/build

# AI
.cursor/
.aider*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/data/*.real.json
.vscode
.idea/
.log/
.rgignore
.tool-versions

.next
*.log
src/components/SpecEditorControl/Untitled-1.json
tsconfig.tsbuildinfo

# ignore middleware for now, as it is and instead, during build, rename
# clerk.middleware.js to clerk.middleware.js
# middleware.ts

.vercel
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.bin/

.envrc
default.nix
.claude