branches:
  - name: main
    prerelease: true
  - name: release
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: ci, release: false }
        - { type: style, release: false }
        - { release: patch}
      parserOpts:
        noteKeywords:
          - MAJOR RELEASE
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
