.text-divider {
  display: flex;
  align-items: center;
}

.text-divider::before,
.text-divider::after {
  content: "";
  height: 1px;
  background-color: #eee;
  flex-grow: 1;
}

.text-divider::before {
  margin-right: 5px;
}

.text-divider::after {
  margin-left: 5px;
}
