@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 5px #c5d2fe;
    border-radius: 50%;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px 5px #c5d2fe;
    border-radius: 50%;
  }
  input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 0px 5px #c5d2fe;
    border-radius: 50%;
  }
  input[role="combobox"]:focus {
    box-shadow: none;
  }
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .wrap-with-brakets:before {
    content: "(";
  }
  .wrap-with-brakets:after {
    content: ")";
  }
}

@layer components {
  .form-label {
    @apply block text-sm font-semibold text-gray-700 mb-2;
  }

  .table-auto {
    @apply shadow-lg   bg-white  rounded-md;
  }

  .table-auto tbody tr {
    @apply hover:bg-slate-50;
  }

  .table-auto thead tr {
    border-bottom-width: 1px;
    @apply border-gray-200  uppercase text-gray-600 font-bold text-sm items-center text-left px-4 py-1;
  }

  .table-auto thead tr th {
    @apply px-4 py-3;
  }

  .table-auto td {
    border-bottom-width: 1px;
    @apply px-4;
  }

  .table-condensed thead tr th {
    @apply px-2 py-1 text-sm;
  }

  .table-condensed td {
    border-bottom-width: 1px;
    @apply px-1 text-sm;
  }

  .btn-primary {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none;
  }

  .btn-icon {
    @apply text-gray-600 hover:text-gray-900 inline-flex items-center justify-center px-0 pl-0 border-none text-sm font-medium bg-white focus:outline-none;
  }

  .btn-icon > svg * {
    @apply fill-gray-600;
  }

  .btn-icon:hover > svg * {
    @apply fill-gray-800;
  }

  .link {
    @apply text-blue-500 hover:text-blue-800 visited:text-blue-500 cursor-pointer;
  }

  .btn-white {
    @apply inline-flex items-center justify-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-100 focus:outline-none;
  }

  .btn-danger {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none;
  }

  .btn-disabled {
    @apply inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-300;
  }

  .btn-secondary {
    @apply inline-flex items-center justify-center border-none shadow-sm font-medium rounded-md text-blue-500 bg-blue-100 hover:bg-blue-200 focus:ring-offset-white focus:ring-blue-500 focus:outline-none;
  }

  .btn-secondary-disabled {
    @apply inline-flex items-center justify-center border-none shadow-sm font-medium rounded-md text-blue-100 bg-gray-100 opacity-50 cursor-not-allowed;
  }

  .btn-secondary-xs {
    @apply px-2.5 py-1.5 rounded-sm text-xs leading-4 font-medium;
  }

  .btn-secondary-sm {
    @apply px-3.5 py-2.5 rounded-sm text-sm leading-4 font-medium;
  }

  .btn-secondary-base {
    @apply px-4 py-2 rounded text-sm leading-5 font-medium;
  }

  .btn-secondary-l {
    @apply px-4 py-2 rounded-l text-base leading-6 font-medium;
  }

  .btn-secondary-xl {
    @apply px-6 py-3 rounded-xl text-base leading-6 font-medium;
  }

  .checkbox {
    @apply h-4 w-4 border border-gray-300 rounded bg-white focus:outline-none transition duration-200 bg-no-repeat bg-center bg-contain float-left cursor-pointer;
  }

  nav a.active {
    @apply bg-gray-100;
  }

  .comfortable-table {
    @apply shadow-lg;
    @apply bg-white;

    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    @apply border-gray-200 shadow-md;
  }

  .comfortable-table td,
  .comfortable-table th {
    @apply border-gray-200 py-3;
  }

  .comfortable-table td {
    @apply text-gray-900 text-sm py-2 px-4;
  }

  .comfortable-table th {
    border-bottom-width: 1px;
    @apply text-gray-500 text-xs leading-4 font-medium tracking-wider uppercase text-left px-6;
  }

  .comfortable-table th:first-of-type {
    border-top-left-radius: 8px;
  }

  .comfortable-table th:last-of-type {
    border-top-right-radius: 8px;
  }

  .comfortable-table tr td {
    border-bottom-width: 1px;
  }

  .comfortable-table tr:last-of-type td {
    border-bottom-width: 0;
  }

  .comfortable-table tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 8px;
  }

  .comfortable-table tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 8px;
  }

  .compact-table {
    @apply shadow-lg;
    @apply bg-white;
  }

  .compact-table td,
  .compact-table th {
    @apply border-gray-200;
  }

  .compact-table td {
    @apply text-gray-900 text-sm font-medium py-2 px-1;
  }

  .compact-table th {
    border-bottom-width: 1px;
  }

  .compact-table tr td {
    border-bottom-width: 1px;
  }

  .btn-round {
    @apply rounded-full;
  }

  .btn-round-primary {
    @apply bg-blue-600 text-white inline-flex items-center justify-center p-1 border-transparent hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500;
  }

  .btn-round-xs {
    @apply text-xs;
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-round-sm {
    @apply text-xs;
    width: 1.875rem;
    height: 1.875rem;
  }

  .btn-round-base {
    @apply text-xs;
    width: 2.125rem;
    height: 2.125rem;
  }

  .btn-round-md {
    @apply text-xs;
    width: 2.375rem;
    height: 2.375rem;
  }

  .btn-round-l {
    @apply text-xs;
    width: 2.625rem;
    height: 2.625rem;
  }

  .btn-round-xl {
    @apply text-xs;
    width: 3.125rem;
    height: 3.125rem;
  }

  .menu-items {
    @apply absolute bg-white focus:outline-none mt-2 opacity-100 origin-top-right right-0 ring-1 ring-black ring-opacity-5 rounded-md scale-100 shadow-md transform w-64 z-50;
  }

  .menu-item {
    @apply block w-full py-2 px-4  text-sm text-gray-700  hover:bg-gray-50 hover:text-gray-900 divide-gray-300 text-left;
  }
}


.admonition {
    border-radius: 0.4rem;
    box-shadow: 0 1px 2px 0 #0000001a;
    padding: 0.7rem 0.7rem
}

.admonition.info  {
  background-color: #eef9fd;
  border: 0px solid #4cb3d4;
  border-left-width: 5px;
}

.admonition.warning {
  border: 0px solid #e6a700;
  background-color:  #fff8e6;
  border-left-width: 5px;

 }

